*{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body{
    align-items: center;
    background-image: url("./img/background/wallhaven-ymp23d.png");
    background-size: 100wh 100vh;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

#background-opacity{
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;
}

#container{
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    height: 500px;
    width: 800px;
}