:root{
    --font-size: 18px;
}

body{
    background-attachment: fixed;
    background-image: url("./wallhaven-ymp23d.png");
    background-size: cover;
    color: rgb(255, 255, 255);
    margin: 0;
}

body::before{
    content: "";
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;
}